{
    "plugins": [
        "syntax-async-functions",
        "transform-regenerator",
        "transform-async-to-generator",
        "transform-es2015-modules-commonjs"
    ],
    "presets": ["react", "es2017", "es2015", "stage-0"],
    "env": {
        "production": {
            "plugins": [
                "syntax-async-functions",
                "transform-regenerator",
                "transform-async-to-generator",
                "transform-es2015-modules-commonjs"
            ],
            "presets": ["react", "es2017", "es2015", "stage-0"],
            "comments": false
        }
    }
}
